.btn {
   &, &:link, &:visited { 
    display: inline-block;
    // background-color: $color-white;
    font-size: $default-font-size;
    margin: 0 auto;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-transform: uppercase;
    text-decoration: none;
    // color: $color-gray-dark;
    position: relative;

    // adjustments for buttom element
    border: none;
    cursor: pointer;
}
&:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2) ;
}
&:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}
&--white{
    // color: $color-gray-dark;
    background-color: $color-white;
    &::after{
        background-color: $color-white;
    } 
}
&--green{
    color: $color-white;
    background-color: $color-primary;
    &::after{
        background-color: $color-primary;
    } 
}

&::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    // background-color: $color-white;
    border-radius: 10rem;
    transition: all .4s;
}
&:hover::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        &--animated{
                    animation: moveInBottom .5s ease-out .75s;
                    animation-fill-mode: backwards; /* adds the animation style at 0% before the animation begins */
                }
}

.btn-text{
    &:link, &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        font-weight: 600;
        transition: all .4s;
    }
    &:hover{
        transform: translateY(-.2rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        background-color: $color-primary;
        color: $color-white;
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        transform: translateY(1rem);
    }
}