.popup{
    background-color: rgba($color-black, .8);
    position: fixed;
    // display: none;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99;
    transition: all .3s;
    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)){
        backdrop-filter: blur(10px); //add blur to back of element
        background-color: rgba($color-black, .3);
    }

    &__content{
        @include absoluteCenter;
        background-color: #fff;
        width: 75%;
        // overflow: hidden;
        border-radius: .25rem;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        display: table;
        transform: translate(-50%, -50%) scale(.5);
        opacity: 0;
        transition: all .4s .2s;
        
        @include respond(tab-land){
            display: block;
        }
        @include respond(phone){
            display: block;
        }
    }
    &__left{
        width: 33.3%;
        height: 100%;
        display: table-cell;
        overflow: hidden;
        
        @include respond(tab-land){
            // float: left;
            display: table;
            width: 100%;
            height: 20rem;
        }
        @include respond(phone){
            // float: left;
            display: table;
            width: 100%;
            height: 20rem;
        }
    }
    &__right{
        width: 66.7%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-land){
            float: left;
            width: 100%;
        }
        @include respond(phone){
            float: left;
            width: 100%;
        }
    }

    &__image{
            width: 100%;
            margin-bottom: -8px;
            margin-left: -7px;

            @include respond(tab-land){
                // display: table-cell;
                width: 50%;
                height: 20rem;
                margin: 0;
                padding: 0;
            }
            @include respond(phone){
                // display: table-cell;
                width: 50%;
                height: 20rem;
                margin: 0;
                padding: 0;
            }
    }

    &__text{
        font-size: 1.2rem;
        margin-bottom: 2rem;

        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid $color-gray-light-2;
        hyphens: auto;
    }

    &:target{
        opacity: 1;
        visibility: visible;    
    }

    &:target &__content{
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    
        // opened modal
        &__close{
            &:link, &:visited{
                position: absolute;
                font-size: 3rem;
                top: 3rem;
                right: 3rem;
                text-decoration: none;
                display: inline-block;
                transition: all .2s;
            }
            &:hover{
                color: $color-primary 
            }
        }
}